.navbar {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.navItem {
  margin: 0 10px;
  color: #9faf90;
  text-decoration: none;
  font-weight: bold;
}

.navItem:hover {
  text-decoration: underline;
  color: white;
}

.active {
  text-decoration: underline;
  color: #fff;
}
