@use "@/styles/variables.scss" as *;
.hero {
  position: relative;
  background: linear-gradient(135deg, #f5f9f8, #a8c7c6);
  padding: 10vh 5vw;
  text-align: center;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .headline {
    font-family: $serenity-serif;
    font-size: $font-size-xxxlarge;
    font-weight: $font-weight-semibold;
    color: $home-headline;
    margin-bottom: 1rem;
  }
  .subtext {
    font-size: $font-size-large;
    color: $home-subtext;
    margin-bottom: 2rem;
  }
  .cta {
    background-color: $home-btn-cta;
    color: $white;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: $font-size-base;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-5px);
    }
  }
}
